select[multiple]:hover {
    height: 50vh;
    width: 18rem;
}

select[multiple] option {
    padding:2px;
}

select:not([multiple]) {
    max-width: 75%;
}

button.btn-clear {
    color: #FFF;
    background-color: #F22;
}

table.dataTable {
    min-width: 100%;
}

table.dataTable tr:nth-child(even) {
    background-color: #E2E2FA;
}

table.dataTable td {
    padding: 2px;
}