select[multiple]:hover {
    height: 50vh;
    width: 18rem;
}

select[multiple] option {
    padding:2px;
}

select:not([multiple]) {
    max-width: 75%;
}

button.btn-clear {
    color: #FFF;
    background-color: #F22;
}